@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Source+Code+Pro');

html {
    height: 100%;
    overflow: hidden;
}

body { 
    color: #fff;
    font-family: 'Josefin Sans', 'Helvetica Neue', sans-serif;
    margin:0;
    padding:0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

p {
    font-size: 140%;
    line-height: 150%;
}



.page {
    position: relative;
    padding: 15vh 10%;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}
.page .content {
    width: 80%;
}
.page .content.full {
    overflow: hidden;
    width: 100%;
}
.page .col {
    float: left;
}
.page .col.two {
    width: 50%;
}
.page .col.three {
    width: 33%;
}
.page:nth-child(2n) .content {
  margin-left: 0;
  margin-right: auto;
}
.page:nth-child(2n+1) .content {
  margin-left: auto;
  margin-right: 0;
}

.frenchBlue {
    color: #0055A4;
}
.frenchRed {
    color: #EF4135;
}
.frenchWhite {
    color: #fff;
}
.greekBlue {
    color: rgb(21,96,173);
}
.greekWhite {
    color: #fff;
}

.pull-right {
    float: right;
}



#page1 {
    background-color: #111;
    color: rgb(57,252,50);
    font-family: 'Source Code Pro', monospace;
}
#page1 .browserupgrade {
    background: #fff;
    color: #ff0000;
    font-size: 100%;
    padding: 5px;
    text-align: center;
}

#page1 h1,
#page1 h2 {
    text-align: center;
}
#page1 h1 {
    font-size: 150%;
}
#page1 h2 {
    font-size: 80%;
    position: relative;
    text-align: right;
}
#page1 .sloganWrapper {
    position: absolute;
    right: 0;
}
#page1 #title,
#page1 .slogan {
    font-size: 150%;
    position: relative;
}

#page1 .cursor,
#page1 .trail {
    background: #111;
    border-left: .5em solid;
    bottom: 0;
    box-sizing: border-box;
    font-style:normal;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
}

#page1 #title .trail {
    animation: type 2s steps(11, end),
               trail 2s step-end forwards;
}

#page1 .slogan {
    animation: showAndHide 4s forwards;
    opacity: 0;
}

#page1 .sloganWrapper:last-child .slogan {
    animation: show 4s forwards;
    opacity: 0;
}

#page1 .slogan .cursor {
    animation: typeAndDelete 4s steps(20, end) forwards,
               blinking 1s step-end infinite;
}

#page1 .sloganWrapper:last-child .cursor {
    animation: type .5s steps(21, end) forwards,
               blinking 1s step-end infinite;
}

#page1 .sloganWrapper:nth-child(1)  .slogan, #page1 .sloganWrapper:nth-child(1)  .cursor { animation-delay: 2s;  }
#page1 .sloganWrapper:nth-child(2)  .slogan, #page1 .sloganWrapper:nth-child(2)  .cursor { animation-delay: 6s;  }
#page1 .sloganWrapper:nth-child(3)  .slogan, #page1 .sloganWrapper:nth-child(3)  .cursor { animation-delay: 10s; }
#page1 .sloganWrapper:nth-child(4)  .slogan, #page1 .sloganWrapper:nth-child(4)  .cursor { animation-delay: 14s; }
#page1 .sloganWrapper:nth-child(5)  .slogan, #page1 .sloganWrapper:nth-child(5)  .cursor { animation-delay: 18s; }
#page1 .sloganWrapper:nth-child(6)  .slogan, #page1 .sloganWrapper:nth-child(6)  .cursor { animation-delay: 22s; }
#page1 .sloganWrapper:nth-child(7)  .slogan, #page1 .sloganWrapper:nth-child(7)  .cursor { animation-delay: 26s; }
#page1 .sloganWrapper:nth-child(8)  .slogan, #page1 .sloganWrapper:nth-child(8)  .cursor { animation-delay: 30s; }
#page1 .sloganWrapper:nth-child(9)  .slogan, #page1 .sloganWrapper:nth-child(9)  .cursor { animation-delay: 34s; }
#page1 .sloganWrapper:nth-child(10) .slogan, #page1 .sloganWrapper:nth-child(10) .cursor { animation-delay: 38s; }
#page1 .sloganWrapper:nth-child(11) .slogan, #page1 .sloganWrapper:nth-child(11) .cursor { animation-delay: 42s; }
#page1 .sloganWrapper:nth-child(12) .slogan, #page1 .sloganWrapper:nth-child(12) .cursor { animation-delay: 46s; }
#page1 .sloganWrapper:nth-child(13) .slogan, #page1 .sloganWrapper:nth-child(13) .cursor { animation-delay: 50s; }
#page1 .sloganWrapper:nth-child(14) .slogan, #page1 .sloganWrapper:nth-child(14) .cursor { animation-delay: 54s; }
#page1 .sloganWrapper:nth-child(15) .slogan, #page1 .sloganWrapper:nth-child(15) .cursor { animation-delay: 58s; }
#page1 .sloganWrapper:nth-child(16) .slogan, #page1 .sloganWrapper:nth-child(16) .cursor { animation-delay: 62s; }



#page2 {
  background-color: #2196F3;
}
#page2 strong {
    border-bottom: 2px dashed #B71C1C;
    color: #B71C1C;
    padding: 3px 2px;
}
#page2 strong:hover {
    background-color: #B71C1C;
    border-bottom: 1px solid #B71C1C;
    color: #fff;
    cursor: help;
}
#page2 #tasks {
    display: inline-block;
    height: 1em;
    min-width: 10em;
    position: relative;
}
#page2 #tasks .task {
    animation: toggleFade 2s linear forwards;
    left: 0;
    opacity: 0;
    position: absolute;
}
#page2 #tasks .task:first-child {
    opacity: 1;
}
#page2 #tasks .task:last-child {
    animation: fadeIn 2s linear forwards;
}
#page2 #tasks .task:nth-child(2)  { animation-delay: 2s;  }
#page2 #tasks .task:nth-child(3)  { animation-delay: 4s;  }
#page2 #tasks .task:nth-child(4)  { animation-delay: 6s;  }
#page2 #tasks .task:nth-child(5)  { animation-delay: 8s;  }
#page2 #tasks .task:nth-child(6)  { animation-delay: 10s; }
#page2 #tasks .task:nth-child(7)  { animation-delay: 12s; }
#page2 #tasks .task:nth-child(8)  { animation-delay: 14s; }
#page2 #tasks .task:nth-child(9)  { animation-delay: 16s; }
#page2 #tasks .task:nth-child(10) { animation-delay: 18s; }
#page2 #tasks .task:nth-child(11) { animation-delay: 20s; }
#page2 #tasks .task:nth-child(12) { animation-delay: 22s; }
#page2 #tasks .task:nth-child(13) { animation-delay: 24s; }
#page2 #tasks .task:nth-child(14) { animation-delay: 26s; }
#page2 #tasks .task:nth-child(15) { animation-delay: 28s; }
#page2 #tasks .task:nth-child(16) { animation-delay: 30s; }
#page2 #tasks .task:nth-child(17) { animation-delay: 32s; }
#page2 #tasks .task:nth-child(18) { animation-delay: 34s; }

#page2 button {
	background: #B71C1C;
	border: 1px solid #B71C1C;
	border-radius: 4em;
    box-shadow: 0 8px 0 #6a2723;
	color: #fff;
	display: inline-block;
    font-size: 0.7em;
	height: 6em;
	outline: none;
	position: relative;
	text-align: center;
	text-decoration: none;
	top: 0;
	transition: all .1s;
	width: 6em;
}
#page2 button:active {
    box-shadow: 0 2px 0 #6a2723;
    top: 7px;
}
#page2 button:active + .task {
    color: red;
}
#page2 button:hover {
    cursor: pointer;
}


#page3 {
  background-color: #FF5722;
}


#page4 {
  background-color: #673AB7;
}

#page4 a {
    color: #fff;
}

footer {
    bottom: 10vh;
    left: 0;
    position: absolute;
    width: 100%;
}
footer p {
    font-family: 'Source Code Pro', monospace;
    font-size: 80%;
    text-align: center;
}


@keyframes blinking {
    from,to { border-color: transparent; }
    50% { border-color: rgb(57,252,50); }
}
@keyframes fadeIn {
    from { opacity: 0;   }
    50%  { opacity: 0.5; }
    to   { opacity: 1;   }
}
@keyframes showAndHide {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes show {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes toggleFade {
    0%,100% { opacity: 0 }
    30%, 50%, 70% { opacity: 1 }
}
@keyframes trail {
    from { border-color: rgb(57,252,50); }
    to   { border-color: transparent; }
}
@keyframes type {
    from { width: 100%; }
    to   { width: 0; }
}
@keyframes typeAndDelete {
    from { width: 100%; }
    10%  { width: 0; }
    25%  { width: 0; }
    50%  { width: 0; }
    75%  { width: 0; }
    90%  { width: 0; }
    to   { width: 100%; }
}

